{{>layouts/header}}

<form action="/articles/create" method="post">
    <input type="text" name="title">
    <textarea name="content" id="" cols="30" rows="10"></textarea>
    <button>Submit</button>
</form>

{{>layouts/footer}}